<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- === === === === === === === === 本地变量 Begin === === === === === === === === -->
  <!-- 应用名称 -->
  <property name="APP_NAME" value="wenyi-tools"/>

  <!-- 日志文件保存目录名称 -->
  <property name="LOG_HOME" value="applogs"/>

  <!-- 日志文件保留天数 -->
  <property name="LOG_MAX_HISTORY" value="10"/>

  <!-- 单个日志文件最大大小 -->
  <property name="LOG_MAX_SIZE" value="20MB"/>

  <!-- 所有日志文件最大大小 -->
  <property name="LOG_MAX_TOTAL_SIZE" value="20GB"/>

  <!-- 默认日志输出级别 -->
  <property name="LOG_APP_LEVEL" value="info"/>

  <!-- 日志输出格式 -->
  <property name="LOG_PATTERN" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{50} -> %msg%n"/>

  <!-- 系统类日志文件保存目录 -->
  <property name="SYS_LOG_HOME" value="${LOG_HOME}/sys"/>

  <!-- 应用类日志文件保存目录 -->
  <property name="APP_LOG_HOME" value="${LOG_HOME}/app"/>
  <!-- === === === === === === === === 本地变量 End === === === === === === === === -->

  <!-- === === === === === === === === 控制台输出配置 Begin === === === === === === === === -->
  <appender name="STDOUT_LOG" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <!-- === === === === === === === === 控制台输出配置 End === === === === === === === === -->

  <!-- === === === === === === === === 系统类日志输出文件配置 Begin === === === === === === === === -->
  <appender name="SYS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${SYS_LOG_HOME}/%d{yyyy-MM-dd, aux}/${APP_NAME}.sys.%d{yyyy-MM-dd-HH}.%i.log</fileNamePattern>
      <maxFileSize>${LOG_MAX_SIZE}</maxFileSize>
      <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
      <totalSizeCap>${LOG_MAX_TOTAL_SIZE}</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <!-- === === === === === === === === 系统类日志输出文件配置 End === === === === === === === === -->

  <!-- === === === === === === === === 应用类日志输出文件配置 Begin === === === === === === === === -->
  <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${APP_LOG_HOME}/%d{yyyy-MM-dd, aux}/${APP_NAME}.biz.%d{yyyy-MM-dd-HH}.%i.log</fileNamePattern>
      <maxFileSize>${LOG_MAX_SIZE}</maxFileSize>
      <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
      <totalSizeCap>${LOG_MAX_TOTAL_SIZE}</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <!-- === === === === === === === === 应用类日志输出文件配置 End === === === === === === === === -->

  <!-- === === === === === === === === 日志输出配置 End === === === === === === === === -->
  <logger name="com.hanwy.wenyitools" additivity="false">
    <level value="${LOG_APP_LEVEL}"/>
    <appender-ref ref="APP_LOG"/>
    <appender-ref ref="STDOUT_LOG"/>
  </logger>

  <root level="info">
    <appender-ref ref="SYS_LOG"/>
    <appender-ref ref="STDOUT_LOG"/>
  </root>
  <!-- === === === === === === === === 日志输出配置 End === === === === === === === === -->
</configuration>